@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  font-family: "Poiret One", cursive;
  overflow: hidden;

  /* https://www.conic.style/ */

  background: conic-gradient(
    from 90deg at 50% 125%,
    #1f005c,
    #003298,
    #005ac6,
    #007fdc,
    #00a2d3,
    #00c4ae,
    #00e474,
    #00ff00,
    #1f005c,
    #003298,
    #005ac6,
    #007fdc,
    #00a2d3,
    #00c4ae,
    #00e474,
    #00ff00
  );
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalClock {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color: rgb(233, 233, 233);
  background: rgba(0, 0, 0, 0.1);
}

.digitalClock h1 {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 5rem;
}

@media (max-width: 768px) {
  #bar1,
  #bar2 {
    display: none;
  }

  .digitalClock {
    text-align: center;
    width: 100%;
  }

  .digitalClock h1 {
    display: block;
  }
}

@media (max-width: 1024px) {
  .digitalClock h1 {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .digitalClock h1 {
    font-size: 3rem;
  }
}
