@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Edu NSW ACT Foundation", cursive;
  background: teal;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
}

.groceries {
  width: 600px;
  min-height: 80vh;
  margin: auto;
  background: whitesmoke;
  box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.groceries h1 {
  font-size: 2.5rem;
  margin-top: 1em;
}

.groceries i {
  font-size: 2rem;
  color: teal;
}

.groceries input {
  font-family: inherit;
  outline: 0;
  border: 0;
  border-bottom: 3px solid black;
  width: 70%;
  font-size: 1.5rem;
}

#allItems h2 {
  margin-left: 50px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .groceries h1 {
    font-size: 2rem;
  }
  .groceries i {
    font-size: 1.5rem;
  }
  .groceries input {
    font-size: 1;
  }
  #allitems h2 {
    font-size: 0.5rem;
    margin-left: 25px;
  }
}
