.container {
  width: 70%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.image {
  display: none;
}

#prev {
  position: absolute;
  color: rgb(216, 215, 215);
  top: 43%;
  left: 0;
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px;
  user-select: none;
}

#next {
  position: absolute;
  color: rgb(216, 215, 215);
  top: 43%;
  right: 0;
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px;
  user-select: none;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dots {
  text-align: center;
  margin-top: 2%;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: gray;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
  height: 20px;
  width: 20px;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  #next,
  #prev {
    font-size: 1.2rem;
  }
}
