* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #77b3d4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.cloud1, .cloud2, .cloud3 {
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}

.cloud1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 3s ease infinite;
}

.cloud2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 3s ease infinite 2s;
}

.cloud3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 3s ease infinite 1.5s;
}

.airplane {
    height: 250px;
    animation: airplane 1s ease infinite alternate; /* alternate ile ucagin asagi indikten sonra yukari gitmesini de sagliyor. */
}

.preload h3 {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.preload-finish {
    opacity: 0;    /* display none yaparsak animate edemeyiz. */
    pointer-events: none;
}

section img {
    height: 200px;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes clouds {
    from {
        right: 0%
    }
    to {
        right: 130% 
    }
}
