html,
body {
  margin: 0;
  padding: 0;
  color: #432000;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
  border-radius: 8px;
}

input {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
  margin-block: 10px;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

button:hover {
  background-color: #432000;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: #fffdf8;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}
